.login-page {
    padding-bottom: 3.25rem;

    .ads-section {
        margin-top: 0.625rem;
    }

    .login-wrapper {
        margin-top: 10px;

        .q-btn--outline {
            background-color: $brand-light !important;
        }

        .spacer {
            min-height: 21px;
        }

        .content-header {
            background-color: $brand-light;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 3.125rem;
            min-height: 3.75rem;

            &__label {
                font-size: 1.5625rem;
                color: $black;
            }

            &__signup {
                color: $black;
                font-size: 0.9375rem;
            }
        }

        .content-body {
            background-color: #fff;
            padding: 25px 16px 50px;

            .text-black {
                color: $black;
            }

            .separator-text {
                color: $brand;
                font-weight: 500;
                font-size: 1.25rem;
            }

            .form-group {
                
                label {
                    font-size: 0.9375rem;
                }

                .q-input {
                    min-width: 25rem;
                }

                .q-btn {
                    font-size: 20px;
                    min-width: 25rem;

                    .q-btn__wrapper {
                        padding: 0;
                        min-height: 40px;
                    }
                }
            }

            form,
            .login-with {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 3.125rem;
                max-width: 53.125rem;
                margin: auto;
                
                .q-btn {
                    font-size: 20px;
                    min-width: 25rem;

                    .q-btn__wrapper {
                        padding: 0;
                        min-height: 3.125rem;
                    }
                }
            }
        }
    }
}