// app global css in SCSS form
@import "./customs/customs-dir";

.text-brand {
    color: $brand;
}

.bg-brand {
    background-color: $brand;
}

.bg-light {
    background-color: $body-color;
}

.q-checkbox__bg {
    border-width: 1px;
    border-radius: 0;
    background-color: $brand-light;
}

.q-btn--rectangle {
    border-radius: 0;
}

.q-rating__icon {
    text-shadow: none;
}

.q-field--filled  {
    &.q-filled--focused {
        background-color: #fff;
    }
}

.q-field--filled {
    .q-field__control {
        border-radius: 0;
        background-color: $brand-light;
    }
}

.q-field--filled .q-field__control:before {
    border: 1px solid $brand;
    opacity: 1;
    background: transparent;
}

.q-field--filled.q-field--focused .q-field__control:before {
    background-color: transparent;
}