.main-header {
    background-color: #fff;
    flex-direction: column;

    .hidden {
        display: none;
    }

    .header-toolbar {
        display: grid;
        grid-template-columns: 35% 30% 35%;
        padding: 0.625rem 0;
        align-items: center;

        &__brand {
            a {
                max-width: max-content;
                
                img {
                    max-width: 100%;
                }
            }
        }

        &__search {
            justify-self: center;
            display: flex;
            align-items: center;

            .search {
                display: flex;
                flex-wrap: nowrap;

                &__input {
                    border-top-left-radius: 0.625rem;
                    border-bottom-left-radius: 0.625rem;
                    border: 1px solid $brand;
                    padding: 0.25rem 1rem;
                    outline: none;
                    background-color: $brand-light;
                    transition: .3s box-shadow ease-in-out;
                    min-width: 460px;
                    min-height: 2.5rem;

                    &:focus {
                        box-shadow: 0 0 0 2px rgba($brand, .2);
                    }

                    @media screen and (max-width: 1367px){
                        min-width: 21.375rem;
                    }
                }

                &__btn {
                    border: 1px solid $brand;
                    outline: none;
                    background-color: $brand;
                    border-top-right-radius: 0.625rem;
                    border-bottom-right-radius: 0.625rem;
                    transition: .2s box-shadow ease-in-out;
                    width: 2.5rem;
                    cursor: pointer;
                    
                    span {
                        color: #fff;
                        font-size: 1.2rem;
                    }

                    &:focus {
                        box-shadow: 0 0 0 2px rgba($brand, .2);
                    }
                }
            }
        }

        &__actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .actions {
                display: grid;
                grid-template-columns: repeat(3, auto);
                // grid-gap: 1rem;
                margin-left: 2rem;

                .inherits {
                    text-decoration: none;
                    color: $text-dark;
                    font-weight: 500;
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    font-size: 1.25rem;

                    .round-icon {
                        background-color: $brand;
                        border-radius: 100%;
                        min-width: 1.25rem;
                        height: 1.25rem;
                        color: #fff;
                        font-size: 1.125rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-top: 0.125rem;

                        .value {
                            font-size: 0.75rem;
                        }

                        span {
                            color: #fff;
                        }
                    }
                }

                .cart {
                    display: flex;
                    position: relative;
                    
                    &__dropdown {
                        text-decoration: none;
                        color: $text-dark;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        margin-right: 0.3125rem;
                        position: relative;
                        font-size: 0.9375rem;

                        span {
                            font-size: 1.25rem;
                        }
                    }

                    &__dropdown-menu {
                        position: absolute;
                        left: 0;
                        top: 1.875rem;
                        background-color: #fff;
                        min-width: 18.75rem;
                        max-width: 18.75rem;
                        overflow: hidden;
                        display: none;
                        z-index: 50;

                        .cart__dropdown-header {
                            background-color: $brand;
                            padding: 0.25rem 0.625rem;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            color: #fff;

                            .unstyled {
                                padding-top: 0.375rem;
                            }

                            .cart__dropdown-delete {
                                all: unset;
                                background-color: transparent;
                                font-size: 1.25rem;
                                cursor: pointer;
                            }
                        }

                        .cart__dropdown-content {
                            border: 1px solid $brand;
                            border-bottom: 0;
                            min-height: 7.5rem;
                            max-height: 25rem;
                            overflow-y: auto;
                            overflow-x: hidden;
                            background-color: #fff;

                            .no-items {
                                text-align: center;
                                margin-top: 2.8125rem;
                                cursor: text;
                                color: $text-dark;
                            }

                            .product-items {
                                .product-item {
                                    display: grid;
                                    grid-template-columns: auto 1fr;
                                    grid-column-gap: 0.25rem;
                                    padding: 1rem 0 0.5rem;
                                    border-bottom: 0.0625rem solid #ececec;
                                    margin: 0.25rem 0.625rem;

                                    &:last-child {
                                        border-bottom: 0;
                                    }

                                    &__preview {
                                        display: grid;
                                        grid-template-columns: auto auto;
                                        grid-column-gap: 0.25rem;

                                        .image-holder {
                                            width: 3.75rem;
                                            height: 3.75rem;
                                            background-color: #fff;
                                            border: 1px solid #d1d1d1;
                                            display: flex;

                                            img {
                                                max-width: 100%;
                                                height: auto;
                                                object-fit: contain;
                                                // transform: scale(.9);
                                            }
                                        }

                                        .prod-info {
                                            overflow:hidden;

                                            &__top {
                                                .prod-name ,.prod-desc {
                                                    overflow:hidden;
                                                    text-overflow: ellipsis;
                                                    white-space: nowrap;
                                                    font-size: 0.75rem;
                                                    color: $black;
                                                    line-height: 1rem;
                                                }
                                            }

                                            &__bottom {
                                                display: grid;
                                                grid-template-columns: 1fr 1fr;

                                                .price {
                                                    line-height: 1rem;
                                                    &__current {
                                                        color: $brand-strong;
                                                        font-size: 0.9375rem;
                                                    }

                                                    &__prev {
                                                        color: #d1d1d1;
                                                        font-size: 0.625rem;
                                                        text-decoration: line-through;
                                                    }
                                                }

                                                .counter {
                                                    display: grid;
                                                    grid-template-columns: repeat(3, auto);
                                                    align-items: flex-end;
                                                    justify-content: flex-end;

                                                    button {
                                                        width: 1.25rem;
                                                        height: 1.25rem;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        border: 1px solid $brand;
                                                        background-color: $brand-light;
                                                        outline: none;
                                                        position: relative;
                                                        cursor: pointer;

                                                        .mdi {
                                                            color: $text-dark;
                                                            margin-top: -3px;
                                                        }
                                                    }

                                                    input {
                                                        all: unset;
                                                        width: 2.5rem;
                                                        height: 1.25rem;
                                                        text-align: center;
                                                        color: $text-dark;
                                                        font-size: 1rem;
                                                    }

                                                    /* Chrome, Safari, Edge, Opera */
                                                    input::-webkit-outer-spin-button,
                                                    input::-webkit-inner-spin-button {
                                                        -webkit-appearance: none;
                                                        margin: 0;
                                                    }

                                                    /* Firefox */
                                                    input[type=number] {
                                                        -moz-appearance: textfield;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .cart__dropdown-footer {
                            .cart__total {
                                text-align: center;
                                background-color: $brand-light;
                                color: $brand-strong;
                                font-size: 1.125rem;
                                border: 1px solid $brand;
                                border-bottom: 0;
                                cursor: text;
                            }
                            
                            .q-btn {
                                font-size: 0.9375rem;
                                font-weight: 400;
                                
                                .q-btn__wrapper {
                                    min-height: 1.875rem;
                                    padding: 0;
                                }
                            }
                        }
                    }

                    &__add {
                        @extend .inherits;
                    }

                    &:hover {
                        .cart__dropdown {
                            color: $brand;

                            .mdi {
                                transform: rotate(180deg);
                            }
                        }
                        .cart__dropdown-menu {
                            display: block;
                        }
                    }
                }

                .notif {
                    @extend .inherits;
                    margin-left: 2.5rem;
                }
            }

            .right-actions {
                display: flex;
                align-items: center;
                justify-self: flex-end;
    
                .separator {
                    color: $text-dark;
                }
    
                a {
                    text-decoration: none;
                    color: $text-dark;
                    display: flex;
                    align-items: center;
                    transition: .3s color ease-in-out;
                    font-size: 0.9375rem;
    
                    .mdi {
                        font-size: 20px;
                        margin-left: 3px;
                    }
    
                    &:hover {
                        color: $brand;
                    }
                }
            }
    
            .right-actions__is-logged-in {
                display: flex;
                align-items: center;
                justify-self: flex-end;
    
                .user {
                    position: relative;
    
                    &__dropdown {
                        text-decoration: none;
                        color: $text-dark;
                        font-size: 0.9375rem;
                    }
    
                    &__menu {
                        position: absolute;
                        top: 1rem;
                        right: 0;
                        z-index: 50;
                        display: none;
    
                        ul {
                            list-style-type: none;
                            padding: 0;
                            background-color: #fff;
                            border: 1px solid #eaeaea;
    
                            li {
                                padding: 0.25rem 0.625rem;
                                white-space: nowrap;
                                border-bottom: 1px solid #eaeaea;
                                font-size: 0.9375rem;
                                min-width: 7.5rem;
                                cursor: pointer;
                                
                                a {
                                    // transition: .2s color ease-in-out;
                                    color: $text-dark;
                                    text-decoration: none;
    
                                }
    
                                &:hover {
                                    a {
                                        color: $brand;
                                    }
                                }
                            }
                        }
                    }
    
                    &:hover {
                        .user__dropdown {
                            color: $brand;
                        }
    
                        .user__menu {
                            display: block;
                        }
                    }
                }
            }
        }

    }

    .header-toolbar-bottom {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 10px 0;
        
        .dropdown-categories {
            position: relative;

            .dropdown-category-cta {
                padding: 0 10px;
                color: #fff;
                min-width: 12.5rem;
                max-width: 12.5rem;
                min-height: 1.875rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                font-size: 15px;

                .mdi {
                    font-size: 1rem;
                }
            }

            .dropdown-category-content {
                position: absolute;
                min-width: 12.5rem;
                max-width: 12.5rem;
                
                .categories__items {
                    max-height: 365px;
                    left: 0;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    background-color: #fff;
                    overflow-x: hidden;
                    overflow-y: auto;
                    border: 1px solid #eaeaea;

                    .categories__item {
                        border-bottom: 1px solid #eaeaea;
                        padding: 0.125rem 0.625rem;
                        cursor: pointer;
                        position: relative;

                        a {
                            text-decoration: none;
                            color: $text-dark;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            
                            .mdi {
                                opacity: 0;
                                font-size: 1.125rem;
                                margin-right: -0.4375rem;
                            }
                        }
    
                        &:hover {
                            .categories__item-link {
                                color: $brand;
    
                                .mdi {
                                    opacity: 1;
                                }
                            }
                        }

                        &:last-of-type {
                            border-bottom: 0;
                        }
                    }
                }

                .sub-category {
                    position: absolute;
                    top: 0;
                    right: -12.5rem;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    z-index: 50;
                    max-height: 22.8125rem;
                    min-width: 12.5rem;
                    max-width: 12.5rem;
                    background-color: #fff;
                    visibility: hidden;
                    border: 1px solid #eaeaea;
                    border-left: 0;
                    overflow: auto;
    
                    &.active {
                        visibility: visible;
                    }
    
                    &__item {
                        border-bottom: 1px solid #eaeaea;
                        padding: 0.375rem 0.625rem;
                        cursor: pointer;

                        &:last-child {
                            border-bottom: 0;
                        }
                        
                        a {
                            color: $text-dark;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .choose-location-wrapper {
            justify-self: center;
            margin-right: 6.5625rem;

            .label {
                white-space: nowrap;
                margin-right: 8px;
            }

            .q-field--filled {
                .q-field__inner {
                    min-width: 31.25rem;
                    max-height: 1.875rem;
                    font-size: 0.8125rem;
                }
            }

            .q-field--auto-height.q-field--dense .q-field__control, .q-field--auto-height.q-field--dense .q-field__native {
                min-height: 30px;
            }

            .q-field--dense .q-field__control, .q-field--dense .q-field__marginal {
                height: 32px;
            }

            @media screen and (max-width: 1367px) {
                .q-field--filled {
                    .q-field__inner {
                        min-width: 380px;
                    }
                }
            }
        }

        .other-actions {
            align-self: flex-end;

            a {
                text-decoration: none;
                color: $black;
                transition: .2s color ease-in-out;
                font-size: 0.9375rem;

                &:last-child {
                    margin-left: 3rem;
                }

                &:hover {
                    color: $brand;
                }
            }
        }
    }
}

footer {
    padding: 2rem 0;
    background-color: #fff;

    .footer__top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media screen and (max-width: 512px) {
            grid-template-columns: 1fr;
            grid-gap: 1rem;
        }

        .footer-nav {

            &__title {
                color: $text-dark;
                font-weight: 500;
                margin-bottom: 0.625rem;
                font-size: 1.25rem;
            }

            &__links {
                list-style-type: none;
                padding: 0;
                margin: 0;

                .footer-nav__link {    
                    font-size: 0.9375rem;
                    line-height: 1.125rem;
                    
                    a {
                        text-decoration: none;
                        color: $text-dark;
                        // transition: .3s color ease-in-out;
                    }

                    &:hover {
                        a {
                            color: $brand;
                        }
                    }
                }
            }

            .social {
                display: flex;

                a {
                    margin-right: 1rem;
                    display: flex;
                    align-items: center;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .footer__bottom {
        @extend .footer__top;

        margin-top: 3.75rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .footer-nav--end {
            justify-self: flex-end;
        }

        .copyright {
            justify-self: flex-end;
            align-self: flex-end;
            color: $text-dark;
            opacity: .8;
            font-size: 0.9375rem;
            font-weight: 300;
        }

        @media screen and (max-width: 512px) {
            grid-template-columns: 1fr;

            .footer-nav--center {
                justify-self: flex-start;
            }

            .copyright {
                justify-self: flex-start;
            }
        }
    }
}