.my-cart-page {
    padding-bottom: 3.25rem;

    .my-cart-wrapper {
        margin-top: 0.625rem;
        display: grid;
        // grid-template-columns: 74% 25%;
        grid-template-columns: 1fr 390px;
        grid-gap: 10px;

        .my-cart {
            
            &__header {
                background-color: $brand-light;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 2rem;
                min-height: 3.75rem;

                &-text {
                    font-size: 1.5625rem;
                    color: $black;
                }

                &-actions {
                    .q-btn {
                        font-weight: 400;
                    }
                }
            }

            &__body {
                background-color: #fff;
                padding: 1.5rem 2rem;
                padding-top: 0;

                .cart-item {

                    &__header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid #d1d1d1;
                        padding: 1.5rem 0;

                        .q-checkbox__label {
                            font-size: 1.25rem;
                        }

                        .cart-item__labels {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .cart-item__label {
                                min-width: 6.25rem;
                                color: $brand;
                                font-size: 0.9375rem;
                                // border: 1px solid;
                            }
                        }
                    }
                    &__content {
                        margin-left: 2rem;

                        .cart-item__list {
                            padding: 1rem;
                            border-bottom: 1px solid #d1d1d1;
                            display: grid;
                            grid-template-columns: auto auto 1fr auto auto;
                            align-items: center;
                            grid-gap: 1rem;

                            .q-img {
                                border: 1px solid #d1d1d1;

                                // &__image {
                                //     transform: scale(.9);
                                // }
                            }

                            .cart-item__product-info {
                                overflow: hidden;
                                .cart-item__prod-name {
                                    font-size: 1.25rem;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    font-weight: 400;
                                    line-height: 1.375rem;
                                }
                                .cart-item__prod-desc {
                                    @extend .cart-item__prod-name
                                }
                                .cart-item__prod-others {
                                    margin-top: 0.5rem;
                                    display: flex;

                                    div:last-of-type {
                                        margin-left: 1rem;
                                    }
                                }
                            }

                            .cart-item__prod-price {
                                .cart-item__current-price {
                                    color: $brand-strong;
                                    font-size: 1.5625rem;
                                }
                                .cart-item__prev-price {
                                    text-decoration: line-through;
                                    color: #d1d1d1;
                                }
                            }

                            .cart-item__counter {
                                display: grid;
                                grid-template-columns: repeat(3, auto);
                                align-items: flex-end;
                                justify-content: flex-end;
                                padding: 0 1rem;

                                button {
                                    width: 1.875rem;
                                    height: 1.875rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid $brand;
                                    background-color: $brand-light;
                                    outline: none;
                                    position: relative;
                                    cursor: pointer;

                                    .mdi {
                                        color: $text-dark;
                                        margin-top: -2px;
                                        font-size: 1.2rem;
                                    }
                                }

                                input {
                                    all: unset;
                                    width: 3.125rem;
                                    height: 1.875rem;
                                    text-align: center;
                                    color: $text-dark;
                                    font-size: 1rem;
                                }

                                /* Chrome, Safari, Edge, Opera */
                                input::-webkit-outer-spin-button,
                                input::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                }

                                /* Firefox */
                                input[type=number] {
                                    -moz-appearance: textfield;
                                }
                            }
                        }
                    }
                }
            }
        }

        .my-cart-summary {
            background-color: $brand-light;
            align-self: flex-start;

            .list-item-wrapper {
                padding: 1rem 1rem 0;

                .list-item {
                    &__top {
                        display: grid;
                        grid-template-columns: auto 1fr auto;
                        grid-gap: 8px;
                        border-bottom: 1px solid #d1d1d1;

                        .list-item__delivery {

                            div {
                                font-size: 0.9375rem;
                                font-weight: 400;
                            }

                            p {
                                font-size: 0.9375rem;
                                font-weight: 300;
                                line-height: 1rem;
                                margin-top: 0.5rem;
                            }
                        }

                        .list-item__action {
                            .btn-edit {
                                border: 0;
                                background-color: transparent;
                                font-weight: 400;
                                color: $info;
                                text-transform: uppercase;
                                font-size: 15px;
                                position: relative;
                                outline: none;
                                cursor: pointer;
                            }
                        }
                    }

                    &__center {
                        padding: 0.625rem;

                        .label {
                            text-align: center;
                            font-size: 1.25rem;
                            margin-bottom: 1rem;
                        }

                        .total-holder {
                            border-bottom: 1px solid #d1d1d1;
                            padding-bottom: 1rem;
                            .total-item {
                                display: flex;
                                justify-content: space-between;
                                margin-top: 8px;

                                &__label {
                                    font-weight: 300;
                                    font-size: 0.9375rem;
                                }

                                &__value {
                                    font-size: 0.9375rem;
                                }
                            }
                        }

                        .grand-total-holder {
                            @extend .total-holder;
                            border-bottom: 0;
                            padding-bottom: 0;

                            .total-item {
                                &__label, &__value {
                                    font-size: 1.25rem;
                                }

                                &__value {
                                    color: $brand-strong;
                                    text-align: right;

                                    .caption {
                                        font-size: 0.75rem;
                                        font-weight: 300;
                                        color: $black;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .actions {
                .q-btn {
                    font-size: 20px;
                    .q-btn__wrapper {
                        padding: 0;
                        min-height: 50px;
                    }
                }
            }
        }
    }

    .you-may-also-like {
        margin-top: 2rem;

        .section-header {
            display: flex;
            justify-content: space-between;
            
            .section-title {
                color: $black;
                font-size: 1.25rem;
            }
            
            .section-action {
                text-decoration: none;
                color: $brand;
                font-size: 1.25rem;
                font-weight: 400;
            }
        }

        .product-wrapper {
			display: grid;
			grid-template-columns: repeat(5, 18.4%);
			grid-column-gap: 2%;
			grid-row-gap: 3%;
			margin-top: 1rem;
        }

        .btn-load-more {
            font-size: 0.9375rem;
            font-weight: 400;
            min-width: 15.625rem;

			.q-btn__wrapper {
				min-height: 2.5rem;
			}
		}
    }
}